/* Autor: Walid Frakchi Sekkouri */

:root, html, body {
    box-sizing: border-box;

    margin: 0rem;
    padding: 0rem;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

:root {
    --background-color: white;
    --foreground-color: black;
}

section#main-section {
    max-width: 100vw;
    max-height: 100vh;

    width: 100vw;
    height: 100vh;
}

section#horizontal-section {
    height: 100%;
 
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}

section#vertical-section {
    height: 100%;
    width: 100%;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    align-items: center;

    padding: 1rem;
}

img#image-viewport {
    margin: 1rem;

    height: 100%;
    width: 100%;

    object-fit: contain;
}



code#location-label,
button#button-north, button#button-south, button#button-west, button#button-east {
    font-size: 2rem;
}

button.cardinal-button {
    background-color: var(--background-color);
    color: var(--foreground-color);

    padding: 1rem;
    margin: 1rem;

    border-radius: 0.5em;
    border: 2px solid var(--foreground-color);
}